<div class="row">
  <div style="margin-top: 20px; margin-bottom: 20px" class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        <span style="font-family: helvetica, arial, sans-serif"
                          ><strong><span style="font-size: 14pt">VANANHCOMPUTER HÀ NỘI</span></strong></span
                        >
                      </p>
                      <ul>
                        <li style="list-style-type: none">
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Địa chỉ:</strong>&nbsp;Số nhà 54, ngách 225/7 ngõ 225, Đường Quan Hoa, Quận Cầu Giấy, Hà
                                    Nội.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Điểm bảo hành:</strong> Số nhà 54, ngách 225/7 ngõ 225, Đường Quan Hoa, Quận Cầu Giấy, Hà
                                    Nội.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Điện thoại:</strong>&nbsp;+84385044800.</span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phòng kinh doanh:</strong>&nbsp;<a
                                      href="mailto:sales@VANANHCOMPUTER.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >sales@VANANHCOMPUTER.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a
                                      href="mailto:hotro@VANANHCOMPUTER.vn"
                                      target="_blank"
                                      rel="noopener noreferrer"
                                      >hotro@VANANHCOMPUTER.vn</a
                                    ></span
                                  >
                                </li>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;093 183 4446</span
                                  >
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul>
                            <li style="list-style-type: none">
                              <ul>
                                <li>
                                  <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                                    ><strong>Giờ làm việc:</strong></span
                                  >
                                  <ul style="list-style-type: circle">
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">T2-T7: 9AM – 6:30 PM</span>
                                    </li>
                                    <li>
                                      <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">Chủ nhật: 10AM – 4PM</span>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container ol-sm-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>
                        <span style="font-family: helvetica, arial, sans-serif"
                          ><strong><span style="font-size: 14pt">VANANHCOMPUTER HƯNG YÊN</span></strong></span
                        >
                      </p>
                      <ul>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Showroom:</strong>&nbsp;Thôn Bình Cầu, Xã Quảng Lãng, Huyện Ân Thi, Tỉnh Hưng Yên</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Điểm bảo hành:</strong> Thôn Bình Cầu, Xã Quảng Lãng, Huyện Ân Thi, Tỉnh Hưng Yên</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Điện thoại:</strong>&nbsp;+84394835311.</span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Phòng kinh doanh:</strong>&nbsp;<a
                              href="mailto:sales@VANANHCOMPUTER.vn"
                              target="_blank"
                              rel="noopener noreferrer"
                              >sales@VANANHCOMPUTER.vn</a
                            ></span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a
                              href="mailto:hotro@VANANHCOMPUTER.vn"
                              target="_blank"
                              rel="noopener noreferrer"
                              >hotro@VANANHCOMPUTER.vn</a
                            ></span
                          >
                        </li>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"
                            ><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;093 183 4446</span
                          >
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif"><strong>Giờ làm việc:</strong></span>
                          <ul>
                            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">T2-T7: 9AM – 8PM</span></li>
                            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif">Chủ nhật: 10AM – 7PM</span></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <iframe
            style="width: 100%"
            width="100%"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9056590861874!2d105.80317171535476!3d21.036460492890278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3fde354793%3A0xbd020ed277cc25cd!2zMjI1LCA3IE5nw7UgMjI1IFF1YW4gSG9hLCBRdWFuIEhvYSwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1622310682666!5m2!1svi!2s"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="col-6">
          <iframe
            style="width: 100%"
            width="100%"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.4034011167264!2d106.06339212247084!3d20.815410602934005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135bbf7d8241017%3A0x9b06992a956bec2!2zQsOsbmggQ-G6p3UsIMOCbiBUaGksIEjGsG5nIFnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1622310720979!5m2!1svi!2s"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nz-card style="width: 100%" nzTitle="Hỏi đáp về chúng tôi">
            <div class="fb-comments" [attr.href]="'http://localhost:4200/contact'" data-width="100%" data-numposts="20"></div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>
