<div class="row">
  <div style="margin-top: 20px; margin-bottom: 20px" class="col-12">
    <div class="container">
      <h1 class="hnc-static-heading1" style="text-align: center">GIỚI THIỆU VỀ VÂN ANH COMPUTER</h1>
      <h3 class="hnc-static-headding3"></h3>
      <p>
        <strong>Công ty Cổ phần Máy tính Vân Anh</strong>* là một trong những doanh nghiệp tiên phong trong lĩnh vực Công nghệ thông tin tại
        Hà Nội.
      </p>
      <p>*gọi tắt là “<strong>VAC</strong>” hoặc “<strong>VÂN ANH COMPUTER</strong>”</p>
      <p>
        Với tầm nhìn dài hạn, VÂN ANH COMPUTER tập trung đầu tư vào lĩnh vực Công nghệ thông tin. Trên tinh thần phát triển bền vững và
        chuyên nghiệp, VÂN ANH COMPUTER được cơ cấu với các sản phẩm kinh doanh chính gồm:
      </p>
      <ul>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Laptop &amp; Phụ kiện</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Máy tính văn phòng</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Máy tính chơi Game</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Máy chủ, Máy trạm</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Linh kiện máy tính</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Monitor – Màn hình</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Gaming Gear &amp; Console</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Tản nhiệt – Cooling</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị văn phòng</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị Nghe Nhìn Giải Trí</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị Siêu thị, Cửa hàng</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị Hội Nghị, Trường Học</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Camera An Ninh</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Nhà Thông Minh</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị Lưu trữ</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết bị Mạng, Phần mềm</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Phụ kiện các loại</li>
      </ul>
      <h3 class="hnc-static-heading3">2. Giá trị cốt lõi</h3>
      <p>
        Văn hóa VÂN ANH COMPUTER được thể hiện qua bốn giá trị cốt lõi:
        <span style="color: #000080"><strong>TẬN TÂM – TRÁCH NHIỆM – SÁNG TẠO – KHÁC BIỆT</strong></span>
      </p>
      <!-- Chỉ trên pc -->
      <div class="hnc-static-equal">
        <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #fa8c11">
          <img
            src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-4-150x150.jpg"
            alt=""
            width="150"
            height="150"
            class="hnc-static-round-img loading"
            data-was-processed="true"
          />
          <h3 class="hnc-static-brand-text">TẬN TÂM</h3>
          <p class="hnc-static-slogan-text"><em>“Vượt trên sự mong đợi”</em></p>
          <p class="hnc-static-explain-text">
            VÂN ANH COMPUTER đặt tận tâm là nền tảng của phục vụ, lấy khách hàng làm trung tâm, mang đến những giá trị đích thực tới khách
            hàng và đối tác.
          </p>
        </div>
        <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #ec1922">
          <img
            src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-5-150x150.jpg"
            alt=""
            width="150"
            height="150"
            class="hnc-static-round-img loading"
            data-was-processed="true"
          />
          <h3 class="hnc-static-brand-text">TRÁCH NHIỆM</h3>
          <p class="hnc-static-slogan-text"><em>“Chúng ta luôn cố gắng”</em></p>
          <p class="hnc-static-explain-text">
            VÂN ANH COMPUTER đặt chữ TÍN lên hàng đầu, luôn thể hiện tinh thần trách nhiệm cao cùng phương châm “Làm hết việc chứ không làm
            hết giờ”.
          </p>
        </div>
        <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #26a9e1">
          <img
            src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-7-150x150.jpg"
            alt=""
            width="150"
            height="150"
            class="hnc-static-round-img loading"
            data-was-processed="true"
          />
          <h3 class="hnc-static-brand-text">KHÁC BIỆT</h3>
          <p class="hnc-static-slogan-text"><em>“Dám nghĩ – Dám làm”</em></p>
          <p class="hnc-static-explain-text">
            VÂN ANH COMPUTER đặt sự khác biệt là chủ trương để xây dựng công ty thành một doanh nghiệp dẫn đầu.
          </p>
        </div>
        <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #242156">
          <img
            src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-6-150x150.jpg"
            alt=""
            width="150"
            height="150"
            class="hnc-static-round-img loading"
            data-was-processed="true"
          />
          <h3 class="hnc-static-brand-text">SÁNG TẠO</h3>
          <p class="hnc-static-slogan-text"><em>“Không gì là không thể”</em></p>
          <p class="hnc-static-explain-text">
            VÂN ANH COMPUTER coi sáng tạo là đòn bẩy để phát triển, luôn đề cao các sáng kiến để hoàn thiện, hiệu quả hơn, nâng tầm giá trị.
          </p>
        </div>
      </div>
      <h3 class="hnc-static-heading3">3. Những dấu mốc quan trọng</h3>
      <ul style="list-style-type: disc">
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><strong><span style="color: #000080">2001</span></strong
          >: Thành lập công ty TNHH MÁY TÍNH HÀ NỘI
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><strong><span style="color: #000080">2007</span></strong
          >: Áp dụng ISO 9000:2001, Hệ thống tiêu chuẩn quản lý chất lượng sản phẩm trên toàn cầu
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2010</strong></span
          >: Khai trương Showroom thứ hai tại 43 Thái Hà – Đống Đa – Hà Nội
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2014</strong></span
          >: Cổ phần hóa công ty, đổi tên thành CÔNG TY CỔ PHẦN MÁY TÍNH HÀ NỘI
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2016</strong></span
          >: Khai trương Showroom thứ ba tại A1-6 Lô 8A – Lê Hồng Phong – Ngô Quyền – Hải Phòng
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2017</strong></span
          >: Khai trương Showroom thứ tư tại 77 + 79 Nguyễn Văn Huyên – Cầu Giấy – Hà Nội
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2018</strong></span
          >: Khai trương Showroom thứ năm tại 511+513 Quang Trung – Hà Đông – Hà Nội
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2019</strong></span
          >: Khai trương Showroom thứ sáu tại 520 đường Cách Mạng Tháng Tám – Quận 3 – Hồ Chí Minh
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2020</strong></span
          >: Khai trương Showroom thứ bảy tại 398 Nguyễn Văn Cừ - Long Biên - Hà Nội
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2021</strong></span
          >: Khai trương Showroom thứ tám tại 299 Minh Khai - Từ Sơn - Bắc Ninh
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2021</strong></span
          >: Khai trương Showroom thứ chín tại 59 + 61 Thợ Nhuộm - Hoàn Kiếm - Hà Nội
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080"><strong>2021</strong></span
          >: Khai trương Showroom thứ mười tại 170 Hồ Tùng Mậu - Cầu Giấy - Hà Nội
        </li>
      </ul>
      <h3 class="hnc-static-heading3">4. Sơ đồ tổ chức</h3>
      <img
        class="hnc-static-image loading"
        src="https://www.hanoicomputer.vn/media/lib/03-12-2020/stchct122020.jpg"
        data-was-processed="true"
      />
      <h3 class="hnc-static-heading3">5. Các lĩnh vực kinh doanh</h3>
      <ul style="list-style-type: circle">
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080">Tin học</span></li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080">Điện tử</span></li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i><span style="color: #000080">Viễn thông</span></li>
      </ul>
      <p>Đặc biệt trong lĩnh vực tin học Công ty chú trọng các hoạt động như:</p>
      <ul style="list-style-type: disc">
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Thiết kế giải pháp tổng thể (thiết kế hệ thống, xây dựng mạng LAN, WAN,..)
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp các thiết bị tin học (Máy chủ, máy tính PC, máy tính NOTEBOOKS, các
          thiết bị ngoại vi, các ứng dụng)
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp phần mềm của các hãng trên thế giới, các phần mềm quản lý, truyền
          thông…
        </li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Tư vấn và đào tạo cho khách hàng</li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Các dịch vụ bảo hành, bảo trì…</li>
      </ul>
      <p>
        Qua thời gian hoạt động, công ty chúng tôi đã tạo được uy tín và sự tin cậy của khách hàng giúp công ty ngày càng lớn mạnh trong các
        lĩnh vực hoạt động.
      </p>

      <h3 class="hnc-static-heading3">6. Những thành tựu đã đạt được</h3>
      <img
        class="hnc-static-image loading"
        style="width: 65%"
        src="https://www.hanoicomputer.vn/media/lib/01-10-2020/thanh-tu-banner2.png"
        data-was-processed="true"
      />
      <h3 class="hnc-static-heading3">7. Những dự án đã thực hiện</h3>
      <p>
        Qua quá trình hoạt động trong lĩnh vực công nghệ thông tin, Công ty Cổ phần Máy tính Vân Anh đã được rất nhiều các cơ quan đơn vị
        tín nhiệm, điều đó thể hiện qua các dự án mà công ty đã tham gia, trúng thầu và thực hiện. Đơn cử như sau:
      </p>
      <ul style="list-style-type: disc">
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Tư vấn và lắp đặt hệ thống mạng máy tính cho Viện Khoa học Kỹ thuật Nông
          nghiệp Việt Nam.
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Tư vấn và thiết kế, lắp đặt hệ thống máy tính, máy in và mạng cho Nhà xuất
          bản Phụ nữ Hà Nội.
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp và lắp đặt hệ thống mạng cho Trường Đại Học Công nghệ – ĐHQGHN.
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính và thiết bị mạng cho Tổng Công ty Viễn thông Quân Đội.
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính cho dự án Đào tạo Giáo viên THCS – Bộ Giáo dục và Đào tạo.
        </li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Là một trong sáu thành viên của Dự án G6 cung cấp máy tính giá ưu đãi cho
          học sinh, sinh viên.
        </li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính và thiết bị mạng cho Tòa Án Nhân Dân tỉnh Sơn La.</li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính và thiết bị mạng cho Văn phòng Trung ương hội Nông dân
          Việt Nam.
        </li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính và thiết bị mạng cho Công ty Ô tô Toyota Việt Nam.</li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính và thiết bị mạng cho Học viện công nghệ Bưu chính Viễn
          Thông.
        </li>
        <li><i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy tính cho Trường Đại học Bách khoa Hà Nội.</li>
        <li>
          <i nz-icon nzType="caret-right" nzTheme="outline"></i>Cung cấp máy chiếu, máy tính để bàn, phần mềm quản lý giáo dục cho Phòng
          Giáo dục và Đào tạo Quận Nam Từ Liêm.
        </li>
      </ul>
      <p>
        Ngoài các dự án, giải pháp trên công ty còn có nhiều hợp đồng cung cấp thiết bị tin học. Công ty đã có quan hệ với hàng nghìn khách
        hàng và luôn để lại cho khách hàng niềm tin tưởng ở khả năng chuyên môn, lòng nhiệt tình, tính cách chu đáo với các dịch vụ bảo hành
        bảo trì sau bán hàng.
      </p>
    </div>
  </div>
</div>
